{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
</head>
<body>
<div id="main_contents">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'novel:home' %}">
                    <img width="80" height="60" src="{% static 'novel/nav.jpg' %}">
                    ExcellentNovel
                </a>
                <div class="navbar-collapse right">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'novel:novel_create' %}">소설창조</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'novel:novel_list' %}">만들어진소설들</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">마이페이지</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
{% block body %}

{% endblock %}
</div>
</body>
</html>