{% extends 'novel/base.html' %}
{% block title %}
    <style>
        .right {
            display: flex;
            justify-content: right;
        }

        a {
            text-decoration: none;
        }
    </style>
    <title>{{ user.username }} 님의 페이지</title>
{% endblock %}
{% block body %}
    <h1>{{ user.username }}({{ user.nickname }})</h1>

    {% for novel in my_novel %}
        <h2>내가 만든 소설들</h2>
        <a href="{% url 'novel:novel_detail' novel.pk %}"><p>{{ forloop.counter }}.{{ novel.novel_infor.story }}</p></a>

    {% endfor %}
    <br>
{% endblock %}